spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cms_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
#      mode: never

server:
  port: 8080

logging:
  level:
    root: INFO
    com.epic.cms: DEBUG
